{% extends 'base.html.twig' %}
{% block importmap %}
	{{ importmap(['app', 'register']) }}
{% endblock %}

{% block title %}Inscription
{% endblock %}


{% block body %}
	<main>

		<section class="register-login-section">

			<article class="login-section">
            <div class="login-section-content">
            <h2>Vous avez déja un <br> compte ?</h2>
            <p>Connectez-vous maintenant !</p>
            <a href="{{path('app_login')}}"><button class="nav-button"> Me connecter</button></a>
            </div>
            
            </article>


			<article class="subscribe-form display-center">
				<h2>Créer un compte</h2>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.lastName) }}
				{{ form_row(registrationForm.firstName) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword) }}
				{{ form_row(registrationForm.birthDate) }}

                    <div class="agree-terms">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                    </div>
				
				<button type="submit" class="nav-button">M'inscrire</button>
				{{ form_end(registrationForm) }}
			</article>

		</section>

	</main>

{% endblock %}

{% block footer %}
    
{% endblock %}
