{% extends 'dashBoard/dashBoardBase.html.twig' %}
{# {% extends 'base.html.twig' %} #}

{% block importmap %}
	{{ importmap(['app', 'register', 'dashbordStyle']) }}
{% endblock %}

{% block title %}Modifier mon compte
{% endblock %}

{% block content %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<main>
		<h2>Modifier mon compte</h2>
		<article class="forms-section">

				<div class="blue-form">
					<h3>Modifier mon mot de passe</h3>
					{{ form_start(ChangePasswordForm) }}
					{{ form_row(ChangePasswordForm.currentPassword) }}
					{{ form_row(ChangePasswordForm.newPassword.first) }}
					{{ form_row(ChangePasswordForm.newPassword.second) }}
					<button type="submit" class="nav-button">Modifier mon mot de passe</button>
					{{ form_end(ChangePasswordForm) }}
				</div>
			
			

		</article>
	</main>
{% endblock %}
