{% extends 'dashBoard/dashBoardBase.html.twig' %}

{% block importmap %}
	{{ importmap(['app', 'register', 'dashbordStyle', 'editProfile']) }}
{% endblock %}


{% block content %}

	<main class="profile-container">


		<section class="top-block">
			<article class="userInfo">
				<div class="user-name">
					<p>
						{{ app.user.profile.firstName }}
						{{ app.user.profile.lastName }}
					</p>
					<p class="verified-icon"><img src="{{asset('/img/icons/verified-icon.png')}}" alt=""></p>
				</div>
				<p class="user-rating">
					<img src="{{ asset('/img/icons/rating-icon.png')}}" alt="">
					<img src="{{ asset('/img/icons/rating-icon.png')}}" alt="">
					<img src="{{ asset('/img/icons/rating-icon.png')}}" alt="">
					<img src="{{ asset('/img/icons/rating-icon.png')}}" alt="">
					<img src="{{ asset('/img/icons/rating-icon.png')}}" alt="">
				</p>
			</article>

			<div class="user-img">
			 {{ app.user.profile.firstName|slice(0, 1)|upper }}
			</div>

		</section>

		<div class="bottom-block">

			<section class="left-side-profile">
				<article class="profile-content-block">
					<a class="edit-icon" href="{{ path('app_user_profile_edit_personal') }}">
					</a>

					<h3>Informations personnelles</h3>
					<div class="profile-box">

						<div class="line">
							<div>
								<p>Nom</p>
								<span>
									{{ app.user.profile.lastName}}
								</span>
							</div>

							<div>
								<p>Prénom</p>
								<span>
									{{ app.user.profile.firstName}}
								</span>
							</div>
						</div>

						<div class="line">
							<div>
								<p>Date de naissance</p>
								<span>
									{{ app.user.profile.birthDate|date('d-m-Y')}}
								</span>
							</div>

							<div>
								<p>N° de téléphone</p>
								<span>
									{{ app.user.profile.phone}}
								</span>
							</div>
						</div>

					</div>

				</article>


				<article class="profile-content-block">
					<a class="edit-icon" href="{{ path('app_user_profile_edit_address') }}">
					</a>

					<h3>Adresse</h3>
					<div class="profile-box">

						<div class="line">
							<div>
								<p>adresse</p>
								<span>
									{{ app.user.profile.address}}
								</span>
							</div>

							<div>
								<p>Code postal</p>
								<span>
									{{ app.user.profile.postalCode}}
								</span>
							</div>
						</div>

						<div class="line">
							<div>
								<p>Ville</p>
								<span>
									{{ app.user.profile.city}}
								</span>
							</div>

							<div>
								<p>Pays</p>
								<span>
									{{ app.user.profile.country}}
								</span>
							</div>
						</div>

					</div>

				</article>

			</section>

			<section class="right-side-profile">

				<article class="profile-content-block">
					<a class="edit-icon" href="{{ path('app_user_profile_edit_driving_license') }}">
					</a>

					<h3>Permis de conduire</h3>
					<div class="profile-box">

						<p class="driving-License-content">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci rem ab modi, unde iste suscipit natus ea. Ratione quaerat corrupti cum eligendi quasi. Consequuntur nemo, possimus beatae exercitationem fugit dicta?
						</p>
					</div>

				</article>


				<article class="profile-content-block">
					<a class="edit-icon" href="{{ path('app_user_profile_edit_description') }}">
					</a>

					<h3>Description</h3>
					<div class="profile-box">

						<p class="description-content">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci rem ab modi, unde iste suscipit natus ea. Ratione quaerat corrupti cum eligendi quasi. Consequuntur nemo, possimus beatae exercitationem fugit dicta?
						</p>
					</div>

				</div>

			</article>
		</section>

	</div>
</main>{% endblock %}
