{% extends 'dashBoard/dashBoardBase.html.twig' %}

{% block importmap %}
	{{ importmap(['app', 'register', 'dashbordStyle', 'profile']) }}
{% endblock %}


{% block content %}

	<main class="profile-container">

		<article class="user-image-section">
			<div class="user-img"></div>
			{# <a href="">
											<button class="nav-button">Modifier ma photo de profil</button>
										</a>
										<a href="">
											<button class="nav-button">Supprimer ma photo de profil</button>
										</a> #}
		</article>


		<section class="left-side-profile">


			<article class="personal-info-section display-center">

				{{ form_start(form) }}
				<h3>Informations personnelles</h3>
				{{ form_row(form.firstName,  { label: 'Nom'}) }}
				{{ form_row(form.lastName,  { label: 'Prénom'}) }}
				{{ form_row(form.birthDate,  { label: 'Date de naissance'}) }}
				{{ form_row(form.phone,{ label: 'Numéro de téléphone'}) }}
			</article>

		</section>
	</main>
{% endblock %}
