{% extends 'base.html.twig' %}

{% block importmap %}
	{{ importmap(['app']) }}
{% endblock %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<main>
	
    <h1>Déposez votre annonce et louez votre voiture en toute simplicité</h1>

   {{ form_start(vehicleForm) }}

<h3>Votre véhicule</h3>
{{ form_row(vehicleForm.model.brand.name, { label: 'Marque' }) }}
{{ form_row(vehicleForm.model.name, { label: 'Modèle' }) }}
{{ form_row(vehicleForm.model.vehicleCategory, { label: 'Type de véhicule' }) }}
{{ form_row(vehicleForm.color, { label: 'Couleur' }) }}


{{ form_row(vehicleForm.RegistrationCertificate.certificateNumber, { label: 'Plaque d"immatriculation' }) }}
{{ form_row(vehicleForm.RegistrationCertificate.countryOfIssue, { label: 'Pays d"immatriculation' }) }}
{{ form_row(vehicleForm.RegistrationCertificate.issueDate, { label: 'Année d"immatriculation' }) }}
{{ form_row(vehicleForm.RegistrationCertificate.frontImageFile, { label: 'Année d"immatriculation' }) }}
{{ form_row(vehicleForm.RegistrationCertificate.backImageFile, { label: 'Année d"immatriculation' }) }}

{{ form_row(vehicleForm.mileage, { label: 'Kilométrage' }) }}

{{ form_row(vehicleForm.fuelType, { label: 'Carburant' }) }}
{{ form_row(vehicleForm.gearboxType, { label: 'Boîte de vitesse' }) }}

{{ form_row(vehicleForm.doors, { label: 'Nombre de portes' }) }}
{{ form_row(vehicleForm.seats, { label: 'Nombre de sièges' }) }}

{{ form_row(vehicleForm.pricePerDay, { label: 'Tarif/jour' }) }}
{{ form_row(vehicleForm.mileageAllowance, { label: 'Forfait kilométrique' }) }}
{{ form_row(vehicleForm.extraMileageRate, { label: 'Prix par km supplémentaire' }) }}

{{ form_row(vehicleForm.address, { label: 'addresse' }) }}
{{ form_row(vehicleForm.postalCode, { label: 'Code postal' }) }}
{{ form_row(vehicleForm.city, { label: 'Ville' }) }}

{{ form_row(vehicleForm.description, { label: "Description de l'annonce" }) }}

<button type="submit" class="nav-button">Ajouter mon véhicule</button>




{{ form_end(vehicleForm) }}


    </main>
{% endblock %}

{% block footer %}
    
{% endblock %}

