{% extends 'base.html.twig' %}

{% block importmap %}
	{{ importmap(['app', 'search-input', 'CarModelsSelection', 'country-input', 'vehiclePhotoDynamicInput']) }}
{% endblock %}

{% block title %}Déposez votre annonce
{% endblock %}

{% block stylesheets %}
	<style>
		main {
			max-width: 100vw;
			margin: 0 auto;
			padding: 20px;
			background-color: #f9f9f9;
			border-radius: 10px;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		}

		.newVehicle h1 {
			text-align: center;
			font-size: 24px;
			margin-bottom: 20px;
			color: #333;
		}

		.newVehicle h3 {
			font-size: 18px;
			margin-top: 30px;
			color: #007bff;
			border-bottom: 2px solid #007bff;
			padding-bottom: 10px;
		}

		.newVehicle .form-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 70px;
			padding-top: 15px;
		}

		.newVehicle .form-group {
			margin-bottom: 15px;
		}

		.newVehicle label {
			font-weight: bold;
			display: block;
			margin-bottom: 5px;
		}

		.newVehicle input,
		select,
		textarea {
			width: 100%;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-sizing: border-box;
			margin-bottom: 10px;
		}

		.newVehicle button {
			background-color: #28a745;
			color: white;
			padding: 12px 20px;
			font-size: 16px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			display: block;
			width: 100%;
			margin-top: 20px;
			transition: background-color 0.3s ease;
		}

		.newVehicle button:hover {
			background-color: #218838;
		}

		.newVehicle .form-group img {
			max-width: 100%;
			height: auto;
			margin-top: 10px;
		}

		.photo-collection {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}

		.photo-item {
			width: 150px;
			height: 150px;
			border: 1px solid #ddd;
			border-radius: 5px;
			padding: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #f1f1f1;
		}

		.photo-item img {
			max-width: 100%;
			max-height: 100%;
		}


		@media(max-width: 768px) {
			.newVehicle .form-container {
				grid-template-columns: 1fr; /* 1 colonne sur mobile */
			}

			main {
				padding: 15px;
			}

			.newVehicle h1 {
				font-size: 20px;
			}
		}
	</style>
{% endblock %}

{% block body %}
<main class="newVehicle">
	<h1>Déposez votre annonce et louez votre voiture en toute simplicité</h1>

	{{ form_start(vehicleForm) }}

	<h3>Votre véhicule</h3>
	<div class="form-container">
		<div class="form-group brand-container vehicle-container">
			{{ form_label(vehicleForm.model.brand.name, 'Marque') }}
			{{ form_widget(vehicleForm.model.brand.name, { 'attr': {'data-action': 'brand-input'} }) }}
			{{ form_errors(vehicleForm.model.brand.name) }}
			<div id="dropdownMenu" class="hidden">
				<ul id="dropdownResults">
					<li>Aucun résultat</li>
				</ul>
			</div>
		</div>

		<div class="form-group model-container vehicle-container">
			{{ form_label(vehicleForm.model.name, 'Modèle') }}
			{{ form_widget(vehicleForm.model.name, { 'attr': {'data-action': 'model-input'} }) }}
			{{ form_errors(vehicleForm.model.name) }}
			<div id="dropdownMenu" class="hidden">
				<ul id="dropdownResults">
					<li>Aucun résultat</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_row(vehicleForm.model.vehicleCategory, { label: 'Type de véhicule' }) }}
	</div>
	<div class="form-group">
		{{ form_row(vehicleForm.color, { label: 'Couleur' }) }}
	</div>
</div>

<h3>Immatriculation</h3>
<div class="form-container">
	<div class="form-group">
		{{ form_row(vehicleForm.RegistrationCertificate.certificateNumber, { label: 'Plaque d\'immatriculation' }) }}
        </div>

        <div class="form-group country-container">
        {{ form_label(vehicleForm.RegistrationCertificate.countryOfIssue, 'Pays d\'immatriculation') }}
		{{ form_widget(vehicleForm.RegistrationCertificate.countryOfIssue, { 'attr': {'data-action': 'country-input'} }) }}
		{{ form_errors(vehicleForm.RegistrationCertificate.countryOfIssue) }}
		<div id="dropdownMenu" class="hidden">
			<ul id="dropdownResults">
				<li>Aucun résultat</li>
			</ul>
		</div>
	</div>
	<div class="form-group">
		{{ form_row(vehicleForm.RegistrationCertificate.issueDate, { label: 'Année d\'immatriculation' }) }}
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
            {{ form_row(vehicleForm.RegistrationCertificate.frontImageFile, { label: 'Image avant' }) }}
        </div>
        <div>
            {{ form_row(vehicleForm.RegistrationCertificate.backImageFile, { label: 'Image arrière' }) }}
        </div>
    </div>

    <h3>Caractéristiques techniques</h3>
    <div class="form-container">
        <div class="form-group">
            {{ form_row(vehicleForm.mileage, { label: 'Kilométrage' }) }}
        </div>
        <div class="form-group">
            {{ form_row(vehicleForm.fuelType, { label: 'Carburant' }) }}
        </div>
        <div class="form-group">
            {{ form_row(vehicleForm.gearboxType, { label: 'Boîte de vitesse' }) }}
        </div>
        <div class="form-group">
            {{ form_row(vehicleForm.doors, { label: 'Nombre de portes' }) }}
        </div>
        <div class="form-group">
            {{ form_row(vehicleForm.seats, { label: 'Nombre de sièges' }) }}
        </div>
    </div>

    <h3>Tarification</h3>
    <div class="form-container">
        <div class="form-group">
            {{ form_row(vehicleForm.pricePerDay, { label: 'Tarif/jour' }) }}
        </div>
        <div class="form-group">
            {{ form_row(vehicleForm.extraMileageRate, { label: 'Prix par km supplémentaire' }) }}
        </div>
    </div>

    <h3>Localisation</h3>
    <div class="form-container">
        <div class="form-group address-container street-container">
            {{ form_label(vehicleForm.address,'Adresse') }}
            {{ form_widget(vehicleForm.address, { 'attr': {'data-action': 'address-input'} }) }}
            {{ form_errors(vehicleForm.address) }}
            <div id="dropdownMenu" class="hidden">
                <ul id="dropdownResults">
                    <li>Aucun résultat</li>
                 </ul>
            </div>
        </div>
        <div class="form-group address-container postcode-container">
            {# {{ form_row(vehicleForm.postalCode, { label: 'Code postal' }) }} #}
            {{ form_label(vehicleForm.postalCode,'code postal') }}
            {{ form_widget(vehicleForm.postalCode, { 'attr': {'data-action': 'postcode-input'} }) }}
            {{ form_errors(vehicleForm.postalCode) }}
            <div id="dropdownMenu" class="hidden">
                <ul id="dropdownResults">
                    <li>Aucun résultat</li>
                 </ul>
            </div>
        </div>
        <div class="form-group address-container city-container">
            {{ form_label(vehicleForm.city,'ville') }}
            {{ form_widget(vehicleForm.city, { 'attr': {'data-action': 'city-input'} }) }}
            {{ form_errors(vehicleForm.city) }}
            <div id="dropdownMenu" class="hidden">
                <ul id="dropdownResults">
                    <li>Aucun résultat</li>
                 </ul>
            </div>
        </div>
    </div>

    <h3>Description</h3>
    <div class="form-container">
        <div class="form-group" style="grid-column: span 2;">
            {{ form_row(vehicleForm.description, { label: "Description de l'annonce" }) }}
        </div>
    </div>

    

	<h3>Photos du véhicule</h3>
	<div class="photo-collection">
    {{ form_label(vehicleForm.photos) }}
    {{ form_errors(vehicleForm.photos) }}
    
    <div class="photo-items">
        {% for photoForm in vehicleForm.photos %}
            <div class="photo-item">
                {{ form_row(photoForm.imageFile) }}
            </div>
        {% endfor %}
    </div>
    
    <!-- Ajout dynamique de photos -->
    <button type="button" class="add-photo-button">Ajouter une photo</button>

    <div class="photo-prototype" data-prototype="{{ form_widget(vehicleForm.photos.vars.prototype)|e('html_attr') }}">
        <!-- Le prototype sera utilisé pour ajouter des champs supplémentaires -->
    </div>
</div>

<button type="submit" class="nav-button">Ajouter mon véhicule</button>

    {{ form_end(vehicleForm) }}
</main>
<script type="text/javascript" src="http://www.carqueryapi.com/js/jquery.min.js"></script>
<script type="text/javascript" src="http://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
{% endblock %}
