
{# {{ form_start(form) }}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    
    {# userProfileForm #}
     {# {{ form_row(form.profile.lastName) }}

   
    {{ form_row(form.profile.firstName) }}
    {{ form_row(form.profile.address) }}
    {{ form_row(form.profile.postalCode) }}
    {{ form_row(form.profile.city) }}
    {{ form_row(form.profile.birthDate) }}
    {{ form_row(form.profile.phone) }}

    <button class="nav-button" type="submit">S'inscrire</button> #}

{# {{ form_end(form) }} #}

